@{
  ViewData["Title"] = $"Edit {Model.Name}";
}

@model TravelClient.Models.Destination

<h4>Edit @Model.Name</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DestinationId)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @Value = Model.Name})
  <br>

  <br>
  <input type="submit" value="Edit destination" class="btn btn-warning"/>
}

<br>
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.DestinationId})</p>